<footer id="footer">
    <div class="info_foot">

        <div class="min_wrap wrap_inner" style="min-height: inherit;">
            <div class="footer_top">
                <div class="div_logo">
                    <div class="log_fotter" style="width: 100%;margin: 0 auto;">
                        <a style="width: 100%" href="/">
                            <img width="90px" height="auto" style="display: block;" alt="Bất động sản online"
                                src="../../../assets/logo.png"
                                class="      b-loaded b-loaded b-loaded">
                        </a>
                    </div>
                </div>
                <div class="div_info">
                    <div class="action_fo">
                        <i class="fa fa-phone"></i>
                        <div class="ac_right">
                            <label>Hotline</label>
                            <span>0971712299</span>
                        </div>
                    </div>
                    <div class="action_fo">
                        <i class="fa fa-phone"></i>
                        <div class="ac_right">
                            <label>Hotline 2</label>
                            <span>0911798899</span>
                        </div>
                    </div>
                    <div class="action_fo">
                        <i class="fa fa-envelope-o"></i>
                        <div class="ac_right">
                            <label>Hỗ trợ khách hàng</label>
                            <!--email_off--><span><a
                                    href="mailto:hotro@batdongsanonline.vn">hotro@batdongsanonline.vn</a></span>
                            <!--/email_off-->
                        </div>
                    </div>
                </div>
            </div>
            <ul class="ul_foot">
                <li>

                    <div class="title_foot">Công ty Cổ phần Bất động sản Saigon Land</div>
                    <ol class="ol_foot" style="padding-left: 0 !important;">
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> Số M2 Đường 38, Phường 6, Quận 4, Thành
                            phố Hồ Chí Minh. Giấy phép đăng ký kinh doanh số 0315459774 do Sở Kế hoạch đầu tư Thành phố
                            Hồ Chí Minh cấp 04/01/2019. Doanh nghiệp có nhu cầu đăng tin số lượng lớn, vui lòng liên hệ
                            Hotline.
                        </li>

                    </ol>


                </li>
                <li>
                    <div class="tt_footer">
                        <div class="title_foot">Về chúng tôi</div>
                        <ul>
                            <li><a href="gioi-thieu/">Giới thiệu</a></li>
                            <li><a href="lien-he/">Liên hệ</a></li>
                            <li><a href="nha-dat-huyen-lam-ha/">Bán đất Lâm Hà</a></li>
                            <li>
                                <a href="bao-gia-tin-dang/" title="Chi phí đăng tin">Chi phí đăng tin</a>
                            </li>
                        </ul>


                    </div>
                    <!--tt_footer-->
                    <div class="tt_footer">
                        <div class="title_foot">Quy định</div>
                        <ul>
                            <li>
                                <a href="https://batdongsanonline.vn/quy-che-hoat-dong/" title="Quy chế hoạt động">
                                    Quy chế hoạt động </a>
                            </li>
                            <li>
                                <a href="https://batdongsanonline.vn/chinh-sach-bao-mat/" title="Chính sách bảo mật">
                                    Chính sách bảo mật </a>
                            </li>
                            <li>
                                <a href="https://batdongsanonline.vn/dieu-khoan-su-dung/" title="Điều khoản sử dụng">
                                    Điều khoản sử dụng </a>
                            </li>
                            <li>
                                <a href="https://batdongsanonline.vn/giai-quyet-khieu-nai/"
                                    title="Giải quyết khiếu nại">Giải quyết khiếu nại</a>
                            </li>
                            <li>
                                <a href="https://batdongsanonline.vn/huong-dan-nap-tien/"
                                    title="Hướng dẫn nạp tiền">Hướng dẫn nạp tiền</a>
                            </li>
                        </ul>
                        <div class="log_fotter">

                        </div>
                    </div>
                    <!--tt_footer-->
                </li>
                <li>
                    <div class="f_foot_form1" style=" background:none;">
                        <div class="title_foot">Thông tin</div>

                        <div class="out_ul_social_foot">
                            <ul class="ul_social_foot clearfix">
                                <li>
                                    Chịu trách nhiệm nội dung là ông Nguyễn Tiến Mạnh; Đại diện pháp luật ông Dương Ngọc
                                    Báu. Vui lòng ghi rõ nguồn batdongsanonline.vn khi sử dụng dữ liệu của chúng tôi.
                                </li>
                            </ul>
                        </div>
                        <div class="m_foot_form">
                            <a target="_blank" rel="nofollow"
                                href="//www.dmca.com/Protection/Status.aspx?ID=80f63db5-b598-4105-997e-286c30724f45"
                                title="DMCA.com Protection Status" class="dmca-badge"> <img width="123" height="18"
                                    alt="DMCA.com Protection Status"
                                    src="https://images.dmca.com/Badges/dmca_protected_sml_120ak.png?ID=80f63db5-b598-4105-997e-286c30724f45"
                                    class="      b-loaded b-loaded b-loaded"></a>
                            <a target="_blank" rel="nofollow" href="http://online.gov.vn/Home/WebDetails/89610">
                                <img width="100" height="38" style=" width: 100px;" alt="Bộ công thương"
                                    src="https://batdongsanonline.vn/logobct.jpgx"
                                    class="      b-loaded b-loaded b-loaded">
                            </a>


                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div><!-- End .info_foot -->
</footer>