<div class="TabContentMenu tab-pane fade show active" data-id="18" id="tab-mua-ban-dat" role="tabpanel"
    aria-labelledby="tab-mua-ban-dat">
    <div class="container">

        <div class="rows">
            <div class="block_ct">

                <div class="main_ct listTindang" id="SlideNoibat_18">
                    <div class="swiper-wrapper" id="append_data">
                        <div class="_1 col-md-6 col-xl-3 p-1 swiper-slide text-left">
                            <div class="card  loaitin_0 p-0" data-label="">
                                <div class="card-body p-0 mt-0">
                                    <a href="Chu-can-ban-nhanh-dat-View-Song-Hien-Luong-Van-Gia-Van-Ninh-KKt-Bac-Van-Phong-168091/"
                                        title="Chủ cần bán nhanh đất View Sông Hiền Lương, Vạn Giã, Vạn Ninh - KKt Bắc Vân Phong">
                                        <div class="inner_td_bds w-m">
                                            <figure>
                                                <img class="lazyload swiper-lazy"
                                                    onerror="this.onerror=null;this.src='https://image.batdongsanonline.vn/19421564-img/uploadUsers/z4958012222611-46f70f328929ea81bd5c9f71c7646b2b-jpg-1702715525-.jpg';"
                                                    src="https://image.batdongsanonline.vn/19421564-img/thumbs/uploadUsers/300_z4958012222611-46f70f328929ea81bd5c9f71c7646b2b-jpg-1702715525-.jpg"
                                                    alt="Chủ cần bán nhanh đất View Sông Hiền Lương, Vạn Giã, Vạn Ninh - KKt Bắc Vân Phong"
                                                    width="162" height="90">

                                            </figure>
                                            <div class="info_td_bds">
                                                <strong>Chủ cần bán nhanh đất view sông hiền lương, vạn giã, vạn ninh -
                                                    kkt bắc vân phong</strong>

                                            </div><!-- End .info_td_bds -->
                                            <div class="info_td_bds">
                                                <span class="text-dark" style="font-size: 15px;">7.3 Triệu - 251.8
                                                    m²</span>

                                                <div class="address mb-2"><i class="fa fa-map-marker"></i> Vạn Ninh,
                                                    Khánh Hòa</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="_1 col-md-6 col-xl-3 p-1 swiper-slide text-left">
                            <div class="card  loaitin_0 p-0" data-label="">
                                <div class="card-body p-0 mt-0">
                                    <a href="Ban-1ha-dat-TMDV-ngay-Ql1A-moi-TpThanh-hoa-168089/"
                                        title="Bán 1ha đất TMDV ngay Ql1A mới TpThanh hoá">
                                        <div class="inner_td_bds w-m">
                                            <figure>
                                                <img class="lazyload swiper-lazy"
                                                    onerror="this.onerror=null;this.src='https://image.batdongsanonline.vn/19421564-img/uploadUsers/img-5982-jpeg-1702713473-.jpeg';"
                                                    src="https://image.batdongsanonline.vn/19421564-img/thumbs/uploadUsers/300_img-5982-jpeg-1702713473-.jpeg"
                                                    alt="Bán 1ha đất TMDV ngay Ql1A mới TpThanh hoá" width="162"
                                                    height="90">

                                            </figure>
                                            <div class="info_td_bds">
                                                <strong>Bán 1ha đất tmdv ngay ql1a mới tpthanh hoá</strong>

                                            </div><!-- End .info_td_bds -->
                                            <div class="info_td_bds">
                                                <span class="text-dark" style="font-size: 15px;">35 Tỷ - 10000 m²</span>

                                                <div class="address mb-2"><i class="fa fa-map-marker"></i> Thanh Hóa,
                                                    Thanh Hóa</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="_1 col-md-6 col-xl-3 p-1 swiper-slide text-left">
                            <div class="card  loaitin_0 p-0" data-label="">
                                <div class="card-body p-0 mt-0">
                                    <a href="Ban-3-7ha-dat-nha-may-may-tai-hoang-dao-hoang-hoa-168088/"
                                        title="Bán 3,7ha đất nhà máy máy tại hoằng đạo hoằng hóa">
                                        <div class="inner_td_bds w-m">
                                            <figure>
                                                <img class="lazyload swiper-lazy"
                                                    onerror="this.onerror=null;this.src='https://image.batdongsanonline.vn/19421564-img/uploadUsers/img-5898-jpeg-1702713082-.jpeg';"
                                                    src="https://image.batdongsanonline.vn/19421564-img/thumbs/uploadUsers/300_img-5898-jpeg-1702713082-.jpeg"
                                                    alt="Bán 3,7ha đất nhà máy máy tại hoằng đạo hoằng hóa" width="162"
                                                    height="90">

                                            </figure>
                                            <div class="info_td_bds">
                                                <strong>Bán 3,7ha đất nhà máy máy tại hoằng đạo hoằng hóa</strong>

                                            </div><!-- End .info_td_bds -->
                                            <div class="info_td_bds">
                                                <span class="text-dark" style="font-size: 15px;">50 Tỷ - 37000 m²</span>

                                                <div class="address mb-2"><i class="fa fa-map-marker"></i> Hoằng Hóa,
                                                    Thanh Hóa</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="_1 col-md-6 col-xl-3 p-1 swiper-slide text-left">
                            <div class="card  loaitin_0 p-0" data-label="">
                                <div class="card-body p-0 mt-0">
                                    <a href="BAN-GAP-50X40-2000M2-THO-CU-GIA-195-TRIEU-SHR-SAT-KCN-CHO-HIEN-HUU-MAT-TIEN-18M-NHUA-168085/"
                                        title="BÁN GẤP 50X40=2000M2 THỔ CƯ, GIÁ 195 TRIỆU, SHR, SÁT KCN, CHỢ HIỆN HỮU, MẶT TIỀN 18M NHỰA">
                                        <div class="inner_td_bds w-m">
                                            <figure>
                                                <img class="lazyload swiper-lazy"
                                                    onerror="this.onerror=null;this.src='https://image.batdongsanonline.vn/19421564-img/uploadUsers/20200623202507-dbb4-wm-jpg-1702710065-.jpg';"
                                                    src="https://image.batdongsanonline.vn/19421564-img/thumbs/uploadUsers/300_20200623202507-dbb4-wm-jpg-1702710065-.jpg"
                                                    alt="BÁN GẤP 50X40=2000M2 THỔ CƯ, GIÁ 195 TRIỆU, SHR, SÁT KCN, CHỢ HIỆN HỮU, MẶT TIỀN 18M NHỰA"
                                                    width="162" height="90">

                                            </figure>
                                            <div class="info_td_bds">
                                                <strong>Bán gấp 50x40=2000m2 thổ cư, giá 195 triệu, shr, sát kcn, chợ
                                                    hiện hữu, mặt tiền 18m nhựa</strong>

                                            </div><!-- End .info_td_bds -->
                                            <div class="info_td_bds">
                                                <span class="text-dark" style="font-size: 15px;">195 Triệu - 2000
                                                    m²</span>

                                                <div class="address mb-2"><i class="fa fa-map-marker"></i> Chơn Thành,
                                                    Bình Phước</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="_1 col-md-6 col-xl-3 p-1 swiper-slide text-left">
                            <div class="card  loaitin_0 p-0" data-label="">
                                <div class="card-body p-0 mt-0">
                                    <a href="KET-TIEN-TOI-BAN-200M2-DAT-CHINH-CHU-SO-HONG-RIENG-MAT-TIEN-TINH-LO-CANH-CHO-GIA-195-TR-168083/"
                                        title="KẸT TIỀN TÔI BÁN 200M2 ĐẤT CHÍNH CHỦ SỔ HỒNG RIÊNG MẶT TIỀN TỈNH LỘ CẠNH CHỢ GIÁ 195 TR">
                                        <div class="inner_td_bds w-m">
                                            <figure>
                                                <img class="lazyload swiper-lazy"
                                                    onerror="this.onerror=null;this.src='https://image.batdongsanonline.vn/19421564-img/uploadUsers/368027616-296598892962540-291644832509501369-n-jpeg-1700290847-jpeg-1702708170-.jpeg';"
                                                    src="https://image.batdongsanonline.vn/19421564-img/thumbs/uploadUsers/300_368027616-296598892962540-291644832509501369-n-jpeg-1700290847-jpeg-1702708170-.jpeg"
                                                    alt="KẸT TIỀN TÔI BÁN 200M2 ĐẤT CHÍNH CHỦ SỔ HỒNG RIÊNG MẶT TIỀN TỈNH LỘ CẠNH CHỢ GIÁ 195 TR"
                                                    width="162" height="90">

                                            </figure>
                                            <div class="info_td_bds">
                                                <strong>Kẹt tiền tôi bán 200m2 đất chính chủ sổ hồng riêng mặt tiền tỉnh
                                                    lộ cạnh chợ giá 195 tr</strong>

                                            </div><!-- End .info_td_bds -->
                                            <div class="info_td_bds">
                                                <span class="text-dark" style="font-size: 15px;">195 Triệu - 200
                                                    m²</span>

                                                <div class="address mb-2"><i class="fa fa-map-marker"></i> Chơn Thành,
                                                    Bình Phước</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="_1 col-md-6 col-xl-3 p-1 swiper-slide text-left">
                            <div class="card  loaitin_0 p-0" data-label="">
                                <div class="card-body p-0 mt-0">
                                    <a href="HANG-NONG-DANH-CHO-NHA-DAU-TU-155m2-BINH-TAN-CHI-3-6-TY-GIA-CHINH-CHU-BAN-GAP-TRONG-30-NGAY-THOI-NHE-GOI-NGAY-090-314-9262-168081/"
                                        title="HÀNG NÓNG! DÀNH CHO NHÀ ĐẦU TƯ 155m2 BÌNH TÂN -CHỈ 3.6 TỶ GIÁ CHÍNH CHỦ BÁN GẤP TRONG 30 NGÀY THÔI NHÉ. GỌI NGAY 090. 314. 9262">
                                        <div class="inner_td_bds w-m">
                                            <figure>
                                                <img class="lazyload swiper-lazy"
                                                    onerror="this.onerror=null;this.src='https://image.batdongsanonline.vn/19421564-img/uploadUsers/z4979038890453-13fbcc16e7f36b56841f4c4bd38eb29b-jpg-1702702987-.jpg';"
                                                    src="https://image.batdongsanonline.vn/19421564-img/thumbs/uploadUsers/300_z4979038890453-13fbcc16e7f36b56841f4c4bd38eb29b-jpg-1702702987-.jpg"
                                                    alt="HÀNG NÓNG! DÀNH CHO NHÀ ĐẦU TƯ 155m2 BÌNH TÂN -CHỈ 3.6 TỶ GIÁ CHÍNH CHỦ BÁN GẤP TRONG 30 NGÀY THÔI NHÉ. GỌI NGAY 090. 314. 9262"
                                                    width="162" height="90">

                                            </figure>
                                            <div class="info_td_bds">
                                                <strong>Hàng nóng! dành cho nhà đầu tư 155m2 bình tân -chỉ 3.6 tỷ giá
                                                    chính chủ bán gấp trong 30 ngày thôi nhé. gọi ngay 090. 314.
                                                    9262</strong>

                                            </div><!-- End .info_td_bds -->
                                            <div class="info_td_bds">
                                                <span class="text-dark" style="font-size: 15px;">3.6 Tỷ - 155 m²</span>

                                                <div class="address mb-2"><i class="fa fa-map-marker"></i> Bình Tân, Hồ
                                                    Chí Minh</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="_1 col-md-6 col-xl-3 p-1 swiper-slide text-left">
                            <div class="card  loaitin_0 p-0" data-label="">
                                <div class="card-body p-0 mt-0">
                                    <a href="Chi-tu-650-trieu-da-so-huu-1-nen-o-KING-HILL-RESIDENCES-168069/"
                                        title="Chỉ từ 650 triệu đã sở hữu 1 nền ở KING HILL RESIDENCES">
                                        <div class="inner_td_bds w-m">
                                            <figure>
                                                <img class="lazyload swiper-lazy"
                                                    onerror="this.onerror=null;this.src='https://image.batdongsanonline.vn/19421564-img/uploadUsers/img-20231208-171521-jpg-1702690196-.jpg';"
                                                    src="https://image.batdongsanonline.vn/19421564-img/thumbs/uploadUsers/300_img-20231208-171521-jpg-1702690196-.jpg"
                                                    alt="Chỉ từ 650 triệu đã sở hữu 1 nền ở KING HILL RESIDENCES"
                                                    width="162" height="90">

                                            </figure>
                                            <div class="info_td_bds">
                                                <strong>Chỉ từ 650 triệu đã sở hữu 1 nền ở king hill residences</strong>

                                            </div><!-- End .info_td_bds -->
                                            <div class="info_td_bds">
                                                <span class="text-dark" style="font-size: 15px;">22 Triệu/m2 - 100
                                                    m²</span>

                                                <div class="address mb-2"><i class="fa fa-map-marker"></i> Bến Lức, Long
                                                    An</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="_1 col-md-6 col-xl-3 p-1 swiper-slide text-left">
                            <div class="card  loaitin_0 p-0" data-label="">
                                <div class="card-body p-0 mt-0">
                                    <a href="BAN-NEN-DIEN-TICH-RONG-GIA-RE-168067/"
                                        title="BÁN NỀN DIỆN TÍCH RỘNG GIÁ RẺ">
                                        <div class="inner_td_bds w-m">
                                            <figure>
                                                <img class="lazyload swiper-lazy"
                                                    onerror="this.onerror=null;this.src='https://image.batdongsanonline.vn/19421564-img/uploadUsers/img-20230802-184353-jpg-1702688772-.jpg';"
                                                    src="https://image.batdongsanonline.vn/19421564-img/thumbs/uploadUsers/300_img-20230802-184353-jpg-1702688772-.jpg"
                                                    alt="BÁN NỀN DIỆN TÍCH RỘNG GIÁ RẺ" width="162" height="90">

                                            </figure>
                                            <div class="info_td_bds">
                                                <strong>Bán nền diện tích rộng giá rẻ</strong>

                                            </div><!-- End .info_td_bds -->
                                            <div class="info_td_bds">
                                                <span class="text-dark" style="font-size: 15px;">900 Triệu - 150
                                                    m²</span>

                                                <div class="address mb-2"><i class="fa fa-map-marker"></i> Bình Thủy,
                                                    Cần Thơ</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End .main_ct -->
            </div><!-- End .block_ct -->
        </div>
    </div>
</div>