<!-- <div class="d-flex justify-content-center pt-2">
  <h1 class="animated">Welcome to Book Management</h1>
</div>

<div class="container animated">
  <p>
    Whether you're an avid reader, a student, or a book collector, our book
    management system is here to make your life easier. With our user-friendly
    interface, you can easily catalog, track, and explore your entire book
    collection. Say goodbye to disorganized shelves and endless searching – it's
    time to take control of your books.
  </p>

  <p>Key Features:</p>

  <ul>
    <li>
      Effortlessly catalog your books, including title, author, genre, and more.
    </li>
    <li>Track your reading progress and set reading goals.</li>
    <li>Discover new books and recommendations based on your preferences.</li>
    <li>Connect with fellow book enthusiasts and share your favorite reads.</li>
  </ul>

  <a [routerLink]="['/books']" class="btn">Get Started</a>
</div> -->

<div class="container pt-2">
  <div class="how-we-help position-relative mx-auto bgc-thm-light mt-3">
      <div class="container">
          
        <div class="row">
            <div class="col-12 text-center">
                <h1>Mua bán và cho thuê Bất động sản</h1>
                <p>BatdongsanOnline.vn là nền tảng giao dịch bất động sản chuyên nghiệp tại Việt Nam.</p>
                

            </div>
          <div class="col-sm-6 col-lg-4" data-wow-delay="00ms">
            <div class="iconbox-style3 text-center">
              <div class="icon"><img width="307" height="150" class="w-100    b-loaded" alt="Bất động sản bán" src="https://batdongsanonline.vn/imgs/property-buy-2.svg"></div>
              <div class="iconbox-content">
                <h4 class="title font-size-19">Bất động sản bán</h4>
                <p class="text">Bạn có thể tìm thấy ngôi nhà mơ ước hoặc cơ hội đầu tư hấp dẫn.</p>
                <a href="/mua-ban-nha/" title="Bất động sản bán" class="ud-btn btn-thm3">Xem ngay</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4" data-wow-delay="300ms">
            <div class="iconbox-style3 active text-center">
              <div class="icon"><img class="w-100    b-loaded" width="307" height="150" alt="Bất động sản cho thuê" src="https://batdongsanonline.vn/imgs/property-sell-2.svg"></div>
              <div class="iconbox-content">
                <h4 class="title font-size-19">Bất động sản cho thuê</h4>
                <p class="text">Cập nhật thường xuyên và đầy đủ các loại hình bất động sản cho thuê.</p>
                <a href="/bds-cho-thue/" title="Cho thuê" class="ud-btn btn-thm3">Xem ngay</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4" data-wow-delay="300ms">
            <div class="iconbox-style3 text-center">
              <div class="icon"><img class="  b-loaded" width="307" height="150" alt="Danh sách dự án" src="https://batdongsanonline.vn/imgs/duan.webp"></div>
              <div class="iconbox-content">
                <h4 class="title font-size-19">Đánh giá dự án</h4>
                <p class="text">Cung cấp các thông tin về dự án chính xác nhất, nhanh nhất.</p>
                <a href="/du-an/" title="Danh sách dự án" class="ud-btn btn-thm3">Xem ngay</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
      
</div>